<h1>
	Record
</h1>

<p>
	Name... <b>Carson Trinh</b>
</p>

<p>
	Place of Birth... <b>California</b>
</p>

<p>
	Year... <b>Junior</b>
</p>

<p>
	Fun Fact... <b>Big fan of Halo</b>
</p>

<p>
	Most excited about for Rails DeCal... <b>Learning front end and making cool stuff</b>
</p>

<%=image_tag("mesnow.jpg")%>